/**
Vars and resets
**/

body {
	--color-background: #080808;
	--color-text: #fff;
	--color-link: #88f;
	
	margin: 0;
	padding: 0;
	background: var(--color-background);
	color: var(--color-text);
}

ul { margin: 0; }

a {
	color: var(--color-link);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a, nav a {
	text-decoration: none;
}

[data-page] {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

[data-pagecontent] {
	flex: 1;
	overflow: hidden auto;
}